@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

@font-face {
font-family: "Helvetica Neue";
src: url("../fonts/Helvetica/HelveticaNeue-MediumExt.otf")format("opentype");
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas/BebasNeue-Regular.otf")format("opentype");
}
@font-face {
  font-family: "Bebas Regular";
  src: url("../fonts/Bebas/BebasNeue Regular.otf")format("opentype");
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.el1 {
  background-color: white;
  font-style: italic;
}
.el1 h4 {
  font-weight: bolder;
  margin-left: 32%;
}

.el1 i {
  color: #FFE700;
}
@media (min-width: 992px) {
  .navbar {
    width: 100%;
    background-color: black;
    height: 44px;
  }
  .navbar .logo {
    font-size: 0.9375em;
    font-weight: 800;
    float: left;
    color: white;
    width: 12px;
    height: auto;
  }
}
#hamburger {
  width: 30px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 11px;
}

#hamburger span:nth-child(3) {
  top: 22px;
}

#hamburger.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#hamburger.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.sitenavigation ul {
  margin: 0;
  padding: 0;
  float: right;
}
.sitenavigation li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: -4px;
  line-height: 20px;
  float: left;
}
.sitenavigation li.nav-dropdown:hover > a {
  background-color: #CCC !important;
  color: #000;
}
.sitenavigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 11px 14px;
  font-size: 25px;
  -webkit-tap-highlight-color: transparent;
  font-family: "Bebas Regular", Arial;
  text-transform: uppercase;
}
.sitenavigation li a.nav-path-selected, .sitenavigation li a.linkclicked {
  color: white;
  background-color: #ECECEC;
}
.sitenavigation li a.nav-selected {
  background-color: #777;
  color: #000;
}
.sitenavigation li a:hover {
  background-color: #CCC !important;
  color: #000;
}
.sitenavigation li.clicked > ul {
  display: block;
}
.sitenavigation li ul {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  padding: 0;
  margin: 0;
}
.sitenavigation li ul a {
  background-color: #000;
  opacity: 0.5;
  font-size: 15px;
}
.sitenavigation li ul li {
  float: none;
  display: block;
  margin: 0;
}
.sitenavigation li ul ul {
  left: 100%;
  margin-top: -40px;
}
.sitenavigation li ul ul a {
  background-color: #000;
}
.sitenavigation .nav-dropdown:hover > a, .sitenavigation .nav-dropdown.clicked > a {
  background-color: #ECECEC;
}

.no-js .sitenavigation li:hover > ul {
  display: block !important;
}

.menu-icon {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    width: 100%;
    background-color: black;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 1;
  }
  .navbar .logo {
    float: right;
    font-weight: 800;
    padding: 5px;
    margin: 10px;
  }
  .navbar .menu-icon {
    width: 30px;
    height: 25px;
    padding-top: 0;
    margin-top: 7px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .navbar .sitenavigation ul {
    display: none;
    max-width: none !important;
  }
  .navbar .sitenavigation li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  .navbar .sitenavigation.is-tapped > ul {
    display: block;
    position: absolute;
    margin: 0;
    background-color: #000000;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 0;
  }
  .navbar .sitenavigation.is-tapped > ul a {
    width: 100%;
    margin: 0;
    background-color: #ECECEC;
    display: block;
    font-size: 1.1875em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    color: #758283;
    float: none;
    border: none !important;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar .sitenavigation.is-tapped > ul a:hover {
    background-color: #dfdfdf;
  }
  .navbar .sitenavigation.is-tapped > ul li {
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: solid 1px #b9b9b9;
    -webkit-tap-highlight-color: transparent;
  }
  .navbar .sitenavigation.is-tapped > ul li li {
    background-color: #fff;
  }
  .navbar .sitenavigation.is-tapped > ul ul {
    display: none;
    width: 100%;
    z-index: 200;
    border: none;
    margin-left: 0;
    padding: 0;
    position: relative !important;
  }
  .navbar .sitenavigation.is-tapped > ul ul ul {
    clear: both;
    left: 0;
    margin-top: 0;
  }
  .navbar .sitenavigation.is-tapped > ul ul li {
    border-bottom: solid 1px #f9f9f9;
  }
  .navbar .sitenavigation.is-tapped > ul ul li li a {
    background-color: #f9f9f9;
    padding-left: 30px;
  }
  .navbar .sitenavigation.is-tapped > ul ul a {
    background-color: #dfdfdf;
    font-size: 1em;
    padding-left: 20px;
  }
  .navbar .sitenavigation.is-tapped > ul ul a:before {
    content: "- ";
    display: inline-block;
    margin-right: 8px;
    color: #000;
  }
  .navbar .sitenavigation.is-tapped > ul li.nav-dropdown {
    cursor: pointer;
  }
  .navbar .sitenavigation.is-tapped > ul li.nav-dropdown > a {
    width: 80%;
  }
  .navbar .sitenavigation.is-tapped > ul li.nav-dropdown:after {
    content: "+";
    font-family: FontAwesome;
    position: absolute;
    color: #000;
    padding: 0;
    display: block;
    width: 20%;
    right: 0;
    margin-top: -40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .sitenavigation.is-tapped > ul li.expanded:after {
    display: none;
  }
  .navbar .sitenavigation.is-tapped > ul li.expanded li:first-child:before {
    content: "+";
    font-family: FontAwesome;
    position: absolute;
    color: black;
    padding: 0;
    display: block;
    width: 20%;
    right: 0;
    margin-top: -40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dames.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFE700;
  font-family: "Bebas Neue", Arial;
  font-size: 30px;
  letter-spacing: -1px;
  text-shadow: -4px 0px black;
  font-style: italic;
}
/* Article */

img {
  border:none;
}

.widthWrapper {
  max-width: 750px;
  margin: 0 auto;
}

/* Post Index */
#postIndex {
  margin: 3em auto;
}

article {
  margin-top: -0.063em;
  background-color: #FFE700;
margin: auto;
}

article h2 {
  font-family: "Bebas Neue", Arial;
}

article a {
  display: block;
  padding: 2.374em 2.5em 2.5em 2.5em;
  overflow: hidden;
  border-top: .063em solid #ccc;
  border-bottom: .063em solid #ccc;
}

article a:hover {
  background: #000;
  border-top: #666 solid .25em;
  padding: 2.187em 2.5em 2.5em 2.5em;
  color: white;
}

.postImg {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-right: 2em;
}

.postImg img {
  width: 100%;
}

article a h2 {
  color: #222;
  float: right;
  width: 75%;
}

article button {
  background-color: black;
}

article button a:hover{
  color: yellow;
}

article a:hover h2{
  color: white;
}

article a p {
  color: #444;
  float: right;
  width: 75%;
}

article a:hover p {
  color: white;
}

@media only screen and (max-width: 750px) {
  #postIndex {
    width: 100%;
  }

  article a {
    padding: 2.374em 1.5em 2.5em 1.5em;
  }

  article a:hover {
    padding: 2.187em 1.5em 2.5em 1.5em;
  }
}

@media only screen and (max-width: 481px) {
  .postImg {
    display: none;
  }

  article a p, article a h2 {
    width: 100%;
  }

}
@import url('https://fonts.googleapis.com/css?family=Lato');

/*- Footer -*/
.footerstyle {
  margin-left: -30px;
}
footer {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
}

footer p {
  font-family: "Bebas Neue", Arial;
  font-size: 30px;
  color: white;
}
footer .footer-socials {
	margin: 60px 0 10px;
}

footer ul li {
  list-style-type: none;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: #FFE700;
}
footer .footer-socials a {
	display: inline-block;
	margin-right: 5px;
	background-color: #626165;
	color: #fff;
	/* padding: 20px; */
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  text-align: center;
}
footer .footer-socials a:hover {
	background-color: #dddddd;
}
footer .footer-bottom {
	padding: 10px 0 40px;
}
footer .footer-bottom a {
  color: #FFE700;
}
footer .footer-bottom a:hover {
  background-color: black ;
}

.stand {
  background: #ffffff;
  border-radius: 2px;
  display: inline-block;
  height: 240px;
  margin: 1rem;
  position: relative;
  width: 500px;
  overflow: hidden;
  margin-left: 31%;
}

.standeerst {
  background-image: url("../images/back.jpg");
}
.stand {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.stand h3 {
  text-align: center;
  font-family: "Bebas Regular", Arial;
  font-size: 40px;
}
.stand:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.open {height: 100%;}
.expand-button {
  position: absolute;
  bottom: 0;
  background-color: #777;
  color: #fff;
  width: 100%;
  line-height: 20px;
  padding: 10px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 40px;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Button in article*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
.snip1544 {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  text-transform: uppercase;
  line-height: 2.7em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  border: 3px solid black;
  background-color: transparent;
  border-radius: 0 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.snip1544:before {
  content: "";
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-color: transparent transparent #c87f0a transparent;
  z-index: 1;
}

.snip1544:hover,
.snip1544.hover {
  border-color: #c87f0a;
}

/* Speler style*/

.spelerstyle {
  color: white;
  background-image: url("../images/back.jpg");
  font-family: "Bebas Regular", Arial;
}

/* Headings style*/

.headn {
  color: white;
  text-align: center;
  font-family: "Bebas Regular", Arial;
}
